.navbar {
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  padding: 0.55rem;
  z-index: 100;
  background-color: #ffffff;
  border-bottom: 1px solid #fafafa;
}
.nav_wrapper {
  width: 92vw;
  display: flex;
  margin: 0 auto;
  max-width: 1144px;
  align-items: center;
  justify-content: space-between;
}
.navList {
  display: none;
}
.navList.open {
  left: 0;
  top: 3.5rem;
  width: 100%;
  display: flex;
  padding: 2.5rem;
  flex-direction: column;
  gap: 1.5rem;
  position: absolute;
  background-color: #ffffff;
  border-radius: 0 0 10px 10px;
  border-top: 1px solid #f1f1f1;
  box-shadow: 0 2px 4px rgba(63, 63, 63, 0.05);
}
.navItem,
.navSocial {
  list-style-type: none;
}
.navItem a {
  text-decoration: none;
}
.nav_toggle {
  cursor: pointer;
}

.nav_socials {
  display: none;
  list-style: none;
  position: relative;
}
.nav_socials a {
  text-decoration: none;
}

.bx-user-circle {
  cursor: pointer;
}

.nav_profile {
  display: flex;
  gap: 5px;
  justify-content: space-between;
}
.dropdownContent {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
  z-index: 1;
}
.dropdownItem {
  margin: 8px 0;
}
.nav_profile:hover .dropdownContent {
  display: block;
}
.btn_logout {
  background-color: #ff5858;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.btn_logout:hover {
  background-color: #e04141;
}

@media (min-width: 992px) {
  .navbar {
    padding: 0.8rem;
  }
  .nav_toggle {
    display: none;
  }
  .navList {
    display: flex;
    justify-content: space-between;
  }
  .navItem {
    margin-left: 3rem;
  }
  .navItem a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 16px;
    transition: color 0.3s ease;
  }
  .navItem a:hover {
    color: #ff4500;
  }

  .nav_socials {
    display: flex;
    gap: 1rem;
  }
}
